<div class="container mt-5">
  <div class="row">
    <div class="mx-auto">
      <h1>welcome to <strong>Meshiterro</strong> !!</h1>
      <p>In <strong>Meshiterro</strong>,</p>
      <p>SNS community that indiscriminately stimulates the appetite of</p>
      <p>sensible citizens.</p>
      <div class="row my-3">
        <%= link_to "Log in",  new_user_session_path, class:"btn btn-md btn-info ml-3" %>
        <%= link_to "Sign up",  new_user_registration_path, class:"btn btn-md btn-success ml-3" %>
      </div>
    </div>
  </div>
</div>